# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Datasets & outputs
dataset/
collection/
data/
csv/
plots/
miscellaneous/

# collections/
# training/
*.npy
*.npz
*.h5
*.pt
*.pth

# Logs
*.log

# DICOM & medical images
*.dcm
*.nii
*.nii.gz

# IDEs/editors
.vscode/
.idea/
*.swp

# OS generated
